.imageWrapper {
  position: relative;
  overflow: hidden;
  padding-top: 100%;
  width: 100%;
}
.imageWrapper.circled {
  border-radius: 50%;
  overflow: hidden;
}
.imageWrapper.eighty {
  padding-top: 80%;
}
.imageWrapper.seventy {
  padding-top: 70%;
}
.imageWrapper.fifty {
  padding-top: 50%;
}
.imageWrapper.one-twenty {
  padding-top: 120%;
}
.imageWrapper img,
.imageWrapper svg {
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: unset;
  min-height: unset;
  top: 0;
  left: 0;
  object-fit: contain;
}
.imageWrapper.cover img {
  object-fit: cover;
}
.auto {margin-left: auto !important;margin-right: auto !important;}
.auto-left {margin-left: 0 !important;margin-right: auto !important;}
.auto-right {margin-left: auto !important;margin-right: 0 !important;}
.noMargin {margin: 0 !important;}
.noPadding {padding: 0 !important;}
.flexx {
  display: -webkit-box; 
  display: -moz-box; 
  display: -ms-flexbox; 
  display: -webkit-flex; 
  display: flex; 
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  //justify-content: space-around;
}
.flex-center {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-box-justify-content: center; 
  -moz-box-justify-content: center; 
  -ms-flex-justify-content: center; 
  -webkit-flex-justify-content: center; 
  justify-content: center;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  -o-align-content: center;
  align-content: center;
}
.align-center {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
.align-end {
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
}
.justify-center {
  -webkit-box-justify-content: center; 
  -moz-box-justify-content: center; 
  -ms-flex-justify-content: center; 
  -webkit-flex-justify-content: center; 
  justify-content: center;
}
.justify-between {
  -webkit-box-justify-content: space-between;
  -moz-box-justify-content: space-between;
  -ms-flex-justify-content: space-between;
  -webkit-flex-justify-content: space-between;
  justify-content: space-between;
}
.product__section-content h1 {
  max-width: unset;
}
.product__section .rg-btnn {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  clear: left;
  display: block;
}
.product-upsell--form-wrapper .rg-btnn {
  width: 100%;
  margin: 10px 0 0;
  clear: left;
  display: block;
  text-align: center;
  cursor: pointer;
}
.product-upsell--form-wrapper form {
  display: block;
  width: 100%;
}
.pre_btn_text {
  margin: 10px 0 30px;
  width: 100%;
}
.pre_btn_text p {
  font-size: 0.9em;
}
.variant_modal {
  display    : none;
  position   : fixed;
  z-index    : 9999;
  right      : 0;
  left       : 0;
  top: 0;
  bottom: 0;
  background : #fff;
  transition: box-shadow 2s;
  box-shadow : 0 0 0 1900px hsla(220,7%,18%,0.6),0 10px 30px -5px hsla(220,7%,18%,0.6);
  margin: auto;
  width: 100vw;
  height: 100vh;
  padding: 0;
  background: rgba(0,0,0,0.5);
  overflow: hidden;
}
.variant_modal .variant_modal_wrapper {
  width: 100%;
  height: 100%;
  max-width: 100%;
  padding: 0;
  box-shadow: 0 0 0 30px #fff;
  margin: auto;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.variant_modal span.backButton {
  position: absolute;
  top: 20px;
  left: 25px;
  font-size: 0;
  cursor:pointer;
  line-height: 1;
  z-index: 3;
}
.block--b1 span.backButton,
.block--b1 .addon-content-footer {
  display: none;
}
.variant_modal span.close {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 0;
  cursor:pointer;
  line-height: 1;
  z-index: 3;
}
.variant_modal_wrapper>div {
  height: 100%;
}
.addon-modal-content-wrapper {
  padding: 30px 20px;
  position: relative;
}
.variant_modal .row {
  width: 100% !important;
}
.option-wrapper {
  margin-top: 25px;
}
.option-wrapper:first-of-type {
  margin-top: 50px;
}
.option-wrapper:last-of-type {
  margin-bottom: 50px;
}
.option-wrapper>div {
  margin-bottom: 10px;
}
.option-wrapper>div+* {
  padding-left: 10px;
}
.option-wrapper #product-price {
  font-weight: 500;
}
.addons-blocks:not(.block--b1) .free--false .price-item:before {
  content: '+';
  font-weight: normal;
  font-size: 0.9em;
}
.add-on-bttnnn {
  border-radius: 17px;
  position: relative;
  padding: 6px 16px;
  background: #eff3f5;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-transition: background .2s ease-in-out;
  -o-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  white-space: nowrap;
  font-weight: 600;
  line-height: 1;
}
.upsell-buttons:hover,
.upsell-buttons:focus {
  background: #e1e9ee;
}
.variant_modal-header {
  //display: block;
  position: relative;
  -webkit-box-shadow: 0 4px 48px #e9e9e9;
  box-shadow: 0 4px 48px #e9e9e9;
  height: 45px;
  width: 100%;
  z-index: 1;
}
.addon-content-body {
  height: calc(100% - 90px);
  overflow: hidden;
}
.summary-block .addon-content-body {
  height: calc(100% - 120px);
}
.addon-content-body>div {
  overflow: auto;
  padding-bottom: 30px;
  height: 100%;
}
.addon-content-body>div::-webkit-scrollbar {
  width: 10px;
}
.addon-content-body>div::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
.addon-content-body>div::-webkit-scrollbar-thumb {
  background: #888; 
}
.addon-content-body>div::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.addon-content-footer {
  height: 90px;
  padding-top: 30px;
}
.summary-block .addon-content-footer {
  height: 120px;
}
.sumary-content-footer {
  //height: 90px;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #d2d6d9;
}
.addon-content-footer>div,
.sumary-content-footer>div {
  width: 100%;
}
.list--item-container {
  padding: 7.5px 0;
}
.list--item-title {
  width: 70%;
}
.list--item-container:first-of-type {
  padding: 30px 0 15px;
}
.list--item-container:first-of-type .list--item-price {
  display: none;
}
.soldOut-tings {
  color: grey !important;
  cursor: default;
}
.soldOut-tings+* .price-item {
  color: grey;
}
.soldOut-tings:after {
  content: 'sold-out';
  position: absolute;
  right: 0;
  top: 50%;
  font-weight: 400;
  font-size: small;
  //color: grey;
  transform: translate(120%, -60%);
}
@media screen and (max-width:979px) {
  .variant_modal span.close,
  .variant_modal span.backButton {
    top: 22.5px;
    transform: translateY(-50%);
  }
  .variant_modal .row {
    height: calc(100% - 45px);
  }
  .variant_modal .variant_modal_wrapper {
    padding: 5px 0 0;
  }
}
@media screen and (max-width:739px) {
  .option-wrapper {
    margin-top: 15px;
  }
  .option-wrapper:first-of-type {
    margin-top: 30px;
  }
  .option-wrapper:last-of-type {
    margin-bottom: 40px;
  }
  .mobile--flexx {
    display: -webkit-box; 
    display: -moz-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex; 
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    //justify-content: space-around;
  }  
  .mobile--auto {margin-left: auto !important;margin-right: auto !important;}
  .mobile--auto-left {margin-left: 0 !important;margin-right: auto !important;}
  .mobile--auto-right {margin-left: auto !important;margin-right: 0 !important;}
  .mobile--noMargin {margin: 0 !important;}
  .mobile--noPadding {padding: 0 !important;}
  .imageWrapper.addon-modal-image-wrapper {
    padding: 0;
    height: 30vh;
  }
  .addon-modal-content-wrapper {
    height: calc(70vh - 45px);
  }
}
.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  //right: 0;
  max-width: 100%;
  min-width: 0;
  height: 4px;
  background: var(--button-color);
  margin: 0 !important;
  -webkit-transition: width .2s ease-in-out;
  -o-transition: width .2s ease-in-out;
  transition: width .2s ease-in-out;
}
#sumary--list,
.sumary-content-footer,
.addon-content-body>div {
  padding-right: 10px;
}
@media screen and (min-width:740px) and (max-width:979px) {
  .imageWrapper.addon-modal-image-wrapper {
    padding: 0;
    height: 35vh;
  }
  .addon-modal-content-wrapper {
    height: calc(65vh - 45px);
  }
  .rg-product-template-class h1.product__section-title.product-title,
  .rg-product-template-class h1.product__section-title.product-title+* {
    max-width: 100%;
    text-align: center;
    display: block;
    //margin: 10px auto;
  }
  .rg-product-template-class .product__section-images {
    max-height: 45vh;
  }
  .rg-product-template-class .product__section-images img {
    max-height: 45vh;
    object-fit: contain;
  }
  .rg-product-template-class .product__section-contentWrapper {
    margin-top: 20px;
  }
  .rg-product-template-class form#AddToCartForm {
    text-align: center;
  }
  .tablet--flexx {
    display: -webkit-box; 
    display: -moz-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex; 
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    //justify-content: space-around;
  }
  .variant_modal .row {
    width: 80% !important;
    margin: auto !important;
    float: unset !important;
  }
  .product-add>.rg-btnn {
    width: calc(50% - 7.5px);
    margin-right: 7.5px;
    float: left;
  }
  .product-add>.rg-btnn+div {
    width: calc(50% - 7.5px);
    margin-left: 7.5px;
    float: left;
  }
  .tablet--auto {margin-left: auto !important;margin-right: auto !important;}
  .tablet--auto-left {margin-left: 0 !important;margin-right: auto !important;}
  .tablet--auto-right {margin-left: auto !important;margin-right: 0 !important;}
  .tablet--noMargin {margin: 0 !important;}
  .tablet--noPadding {padding: 0 !important;}
}
@media screen and (min-width:980px) {
  .popup-up {
    overflow: hidden !important;
  }
  .desktop--auto {margin-left: auto !important;margin-right: auto !important;}
  .desktop--auto-left {margin-left: 0 !important;margin-right: auto !important;}
  .desktop--auto-right {margin-left: auto !important;margin-right: 0 !important;}
  .desktop--noMargin {margin: 0 !important;}
  .desktop--noPadding {padding: 0 !important;}
  .desktop--flexx {
    display: -webkit-box; 
    display: -moz-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex; 
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    //justify-content: space-around;
  }
  .variant_modal_wrapper>div>div {
    height: 100%;
  }
  .imageWrapper.addon-modal-image-wrapper {
    padding: 0;
    height: 80%;
    width: 90%;
  }
  .addon-modal-content-wrapper {
    -webkit-box-shadow: 0 4px 48px #eff3f5;
    box-shadow: 0 4px 48px #eff3f5;
    padding: 80px 35px 35px;
  }
  .block--b1 .addon-modal-content-wrapper {
    opacity: 0;
    transform: translateX(70px);
    transition: transform 0.3s ease-in-out;
  }
  .show-this.block--b1 .addon-modal-content-wrapper {
    transform: translateX(0);
    opacity: 1;
  }
  .add-on-bttnnn {
    padding: 8px 20px;
  }
}
@media screen and (min-width:1600px) {
  .product-add>.rg-btnn {
    width: calc(50% - 7.5px);
    margin-right: 7.5px;
    float: left;
  }
  .product-add>.rg-btnn+div {
    width: calc(50% - 7.5px);
    margin-left: 7.5px;
    float: left;
  }  
}
@-webkit-keyframes slidein {
  0% {transform: translateX(0);}
  from {transform: translateX(100px);}
  to {transform: translateX(0);}
}
@keyframes slidein {
  0% {transform: translateX(0);}
  from {transform: translateX(100px);}
  to {transform: translateX(0);}
}
